<div class="row">
    <div class="col">
          <div class="jumbotron" id="contentArea">
            <div id="content">
              <img src="/img/dhruv.jpeg" alt="dhruv" height="300" width="210"/>
              <h1 class="display-5">Interesting Stuff about me...</h1>

              
              <p class="display-5">Dhruv vyas is currently working as a freelance marketing director and is always interested in a challenge.Reach out to <a href="https://www.linkedin.com/in/dhruv-vyas-05493315b/"></i>Dhruv vyas</a></p>
            </div>

          </div>
    </div>
</div>