
<div class="col">
    <div class="jumbotron" id="contentArea">
        <h1 class="display-4">Welcome to my Site!</h1>
        <p>Hi there I'm the Dhruv vyas friendly bot. we love having you with us. I can help you find the product you're looking for.</p>
        <p>=> To know more about me Please click <a href="/about"> About Me</a></p>
        <p>=> To know more about My Work Please click <a href="/projects"> Projects</a></p>
        <p>=> To know more about Services that i provide Please click <a href="/services"> Services</a></p>
        <p>=> To Contact Me Please click <a href="/contact"> Contact Me</a></p>

        
    </div>