<div class="row">
  <div class="col">
        <div class="jumbotron" id="contentArea">
            <h1 class="display-4">Interesting Projects Live Here!</h1>

            <h3>=> I am creating the Game of Cards using the .net Framwork and using C#.</h3>
            <h3>=> I am working on a project that will track the record of the all students and faculty for a college it is a web application and using the java for creating this project.</h3>
            <h3>=> I have also created the website using .net and using vb and c# to track the payroll of the employee.</h3>
        </div>
  </div>
</div>