<div class="row">
    <div class="col">
      <div class="webpage" style="width: 18rem;">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Internet2.jpg">
        <div class="card-body">
          <h5 class="card-title">Crete your Website</h5>
          <p class="card-text">we can help you to crete your dream website for your bussiness or personal use.</p>
          <a href="#" class="btn btn-primary">Click to Create website</a>
        </div>
      </div>   

      <div class="Windowsapp" style="width: 18rem;">
        <img class="card-img-top" src="https://betanews.com/wp-content/uploads/2013/04/Windows-8-Modern-UI-apps.jpg">
        <div class="card-body">
          <h5 class="card-title">Crete windows application</h5>
          <p class="card-text">we can help you to crete your dream windows application for your bussiness or personal use.</p>
          <a href="#" class="btn btn-primary">Click to Create Application</a>
        </div>
      </div>   
    </div>
</div>